# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Angular
/frontend/node_modules
/frontend/.angular
/frontend/dist
/frontend/tmp
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace
/frontend/.vscode/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 